.ColorListHeader {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  padding: 1em 0;
}

.ColorListHeader a {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.ColorListBody {
  padding-top: 1em;
}